<h1>DBZ  Personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <h4>Listado</h4>
    <ul>
      <li>Krillin - 500</li>
      <li>Goku - 10,000</li>
    </ul>
  </div>
  <div class="col">
    <form action="" class="row">
      <h4>Agregar Personaje</h4>
      <input class="form-control mb-2" type="text" placeholder="Nombre" name="name">
      <input class="form-control mb-2" type="number" placeholder="Poder" name="power">
      <button class="btn btn-primary" type="submit">Agregar</button>
    </form>
  </div>
</div>


